@charset "utf-8";
@import "common";
@import "fonts";
@import "mixins";
@import "variables";

// HOME PAGE

// START INTRO SECTION
.intro-section {
  height: 88vh;
  padding-top: 74px;
  background-color: #f7f5f1;
  background-image: url("../images/main-cover.png");
  background-repeat: no-repeat;
  background-size: 1553px 699px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  .intro-content {
    .heading {
      margin-bottom: 40px;
      max-width: 770px;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 500;
      font-size: 72px;
      line-height: 78px;
      /* or 108% */
      letter-spacing: -2px;
      /* Text/Heading */
      color: #2d3958;
      .gradient {
        background: linear-gradient(to right, #857fff, #ffc0ec);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .short-intro {
      margin-bottom: 70px;
      max-width: 670px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      /* or 156% */
      letter-spacing: -0.3px;
      /* Text/Text */
      color: #7b88a8;
    }
    .btn-container {
      display: flex;
      align-items: center;
      .btn-start {
        margin-right: 10px;
        padding: 16px 32px;
        background: #4f77ff;
        border-radius: 5px;
        font-family: "Outfit";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        /* identical to box height, or 160% */
        text-align: center;
        letter-spacing: -0.3px;
        text-transform: uppercase;
        /* Text/Text White */
        color: #ffffff;
        cursor: pointer;
      }
      .video-link {
        display: flex;
        align-items: center;
        .btn-play {
          margin-right: 6px;
          width: 52px;
          height: 52px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: #ffffff;
          /* Main Shadow */
          box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15);
          cursor: pointer;
        }
        .link-txt {
          font-family: "Outfit";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 24px;
          /* or 160% */

          text-align: center;
          letter-spacing: -0.3px;
          text-transform: uppercase;

          /* Text/Heading */

          color: #2d3958;
        }
      }
    }
  }
  .btn-scroll {
    position: absolute;
    top: 93.5%;
    left: 45%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #f9c45c;
    /* Main Shadow */
    box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15);
  }
}
